/*Space between the upcoming events and radar taglines in desktop*/
@media only screen and (min-width:767px){
.upcoming-events-row {
justify-content: space-between;
}
}


/*SQUAT RADAR WIDGET*/

/*MOBILE-FIRST STYLING*/
.squat-radar-widget {
margin-bottom: 2rem;
display: flex;
flex-direction: column;
font-size: 11px;
padding-left: 5px !important;
padding-right: 5px !important;
}
.squat-radar.radar-event {
display: flex;
flex-direction: column;
border-bottom: 1px solid #555 !important;
}
.squat-radar-event-start-end {
margin-top: 0.6rem;
order: -1
}
.squat-radar-title {
margin-top: 0.5rem;
margin-bottom: 0.5rem !important;
font-weight: 600;
}
.squat-radar-category {
font-weight: 600;
padding: 0.2rem;
margin-top: 0.2rem;
margin-bottom: 0.2rem;
text-wrap: balance;
}
.squat-radar-category li {
	background-color: #000000;
	filter: drop-shadow(0 0 3px #945aff);
	padding: calc(.5rem + 2px) calc(1rem + 2px);
	border-radius: 25px;
	line-height: 3rem;
	margin-left: 5px;
	margin-right: 5px;
}
.squat-radar-og_group_ref {
font-weight: 600;
padding: 0.2rem;
margin: 0.2rem;
}
.squat-radar-image {
width: 80%;
align-self: center;
}

/*TABLET STYLING*/
@media only screen and (min-width: 767px) and (max-width:1024px){
.squat-radar-widget {
flex-direction: row;
flex-wrap: wrap;
font-size: 12px;
	}
.squat-radar.radar-event {
flex-wrap: wrap;
max-height: 420px;
overflow: hidden;
width: calc(100vw - 3rem);
padding-left: 1rem;
padding-right: 1rem;
}

.squat-radar-title {
	max-width: calc(100% - 260px);
	}
.squat-radar-category {
	max-width: calc(100% - 260px);
	}
.squat-radar-location {
	width: calc(100% - 260px) !important;
	}
.squat-radar-location-map-link {
	width: calc(100% - 260px) !important;
	}

.squat-radar-body-summary {
	width: calc(100% - 260px);
}

.squat-radar-image {
	min-height: 250px;
	max-width: 250px !important;
	max-height: 420px !important;
	order: 2;
	object-fit: contain;
	border: none;
    flex-basis: 100%;
    flex-shrink: 1;
	}

img[src=""] {
	display: none;
	}
}



/*DESKTOP STYLING*/
@media only screen and (min-width: 1024px){
.squat-radar-widget {
flex-direction: row;
flex-wrap: wrap;
font-size: 14px;
	}
.squat-radar.radar-event {
flex-wrap: wrap;
max-height: 420px;
overflow: hidden;
width: calc(50% - 2rem);
padding-left: 1rem;
padding-right: 1rem;
}

.squat-radar-title {
	max-width: calc(100% - 260px);
	}
.squat-radar-category {
	max-width: calc(100% - 260px);
	margin-top: 0.5rem;
margin-bottom: 0.5rem;
}
.squat-radar-category li {
	background-color: #000000;
	filter: drop-shadow(0 0 3px #945aff);
	padding: calc(.5rem + 2px) calc(1rem + 2px);
	border-radius: 25px;
	line-height: 3rem;
	margin-left: 5px;
	margin-right: 5px;
}
.squat-radar-location {
	width: calc(100% - 260px) !important;
	}
.squat-radar-location-map-link {
	width: calc(100% - 260px) !important;
	}

.squat-radar-body-summary {
	width: calc(100% - 260px);
}

.squat-radar-image {
	min-height: 250px;
	max-width: 250px !important;
	max-height: 420px !important;
	order: 2;
	object-fit: contain;
	border: none;
    flex-basis: 100%;
    flex-shrink: 1;
	}

img[src=""] {
	display: none;
	}
}
